In [1]:
import pandas as pd

In [4]:
from sklearn.datasets import load_iris
iris=load_iris()

In [5]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [8]:
df=pd.DataFrame(iris.data, columns=iris.feature_names)

In [9]:
df['target']=iris.target

In [10]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [11]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [12]:
df['flower_name'] = df.target.apply(lambda x: iris.target_names[x])

In [13]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [14]:
from sklearn.model_selection import train_test_split

In [16]:
X = df.drop(['target','flower_name'], axis='columns')

In [17]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [26]:
y = df.target

In [27]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int32

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [35]:
from sklearn.svm import SVC

In [36]:
len(y_train)

120

In [37]:
len(y_test)

30

In [62]:
model=SVC(C=1)

In [63]:
model.fit(X_train,y_train)

SVC(C=1)

In [64]:
model.score(X_test,y_test)

0.9666666666666667

In [65]:
model.score(X_train,y_train)

0.9666666666666667